.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px
}
.message {
    font-size: 14px;
    font-weight: 600;
}
.error {
    font-size: 14px;
    font-weight: 600;
    color:red
}